.im-quicktools {
  &-modal {
    &-marker {
      width: 280px;
      max-width: calc(100% - 32px);
      max-height: calc(100% - 160px);
      margin: 0 12px;
      padding: 12px;
      border: 2px solid #2c2c2c;
      border-radius: 6px;
      background-color: #1c1c1c;
      overflow: auto;
      &-title {
        margin-bottom: 10px;
        color: #ffffff;
        font-size: 13px;
        &:not(:first-child) {
          margin-top: 16px;
        }
      }
      &-block {
        margin-bottom: 10px;
        &-title {
          margin-bottom: 10px;
          font-size: 11px;
          color: #888888;
        }
        &-list {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          img {
            display: inline-block;
            width: 26px;
            transition: all 0.2s;
            cursor: pointer;
            &:hover {
              opacity: 0.6;
            }
            &:not(.active) {
              filter: grayscale(1);
            }
            &.active {
              filter: drop-shadow(0 0 3px #288828);
            }
          }
        }
        &:last-child {
          margin-bottom: 6px;
        }
      }
    }
  }
}
